{extend name="common/base" /}

{block name="title"}代理分成比例自动升级设置{/block}
{block name="content"}

<div class="layui-card layui-form" lay-filter="component-form-element">
    <div class="layui-card-header">开启/关闭代理分成比例自动升级脚本</div>
    <div class="layui-card-body layui-row layui-col-space10">
        <div class="layui-col-md12">
            <input type="checkbox" id="open" name="open" lay-filter="open" lay-skin="switch" lay-text="开启|关闭" {if $open == 1}checked{/if}>
        </div>
    </div>
</div>


{/block}

{block name="script"}

<script>

    layui.use(['layer','table','form','jquery'],function () {
        var layer = layui.layer
            , form = layui.form
            , table = layui.table
            , $ = layui.$;
        //用户表格初始化

        var main = {
            setSwitch : function() {
                form.on('switch(open)', function(data){
                    var selected = data.elem.checked === true ? 1 : 0; //开关是否开启，true或者false
                    //设置开关
                    $.ajax({
                        url: "{:url('proxyupgrade/setOpen')}",
                        type: 'post',
                        data:{'open':selected},
                        success: function (response) {
                            if (response.code === 0) {
                                layer.msg(response.msg,{icon: 6});
                            }
                        }

                    })

                });
            }
        };
        main.setSwitch();
    });

</script>
{/block}

